@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=SUSE:wght@100..800&family=Sofadi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SUSE", sans-serif;
}

.indie-flower-regular {
  font-family: 'Indie Flower', cursive;
}

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}